*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Italic";
    src: url(/Roboto-Italic.ttf);
}
html{
    font-size: 10px;
    font-family: Roboto-Regular, sans-serif;
}
body{
    width: 100%;
    max-width: 1286px;
    height: 630px;
    background-color: #fff;
    padding: 3rem 0 3rem 0;
}
.h2__heading{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-family: Roboto-Bold;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
/*css section */
.section{
    width: 90%;
    margin-left: auto;
    margin-right: auto;  
    display: flex;
    justify-content: center;

} 

/*css section container*/

.section__container{
    width: 50%;
    display: flex;
    justify-content: space-around   ;

}

.content__icon{
    width: 2em;
    margin-right: 10px;
}
.content__p{
    font-size: 2.5em;
}

.container__content{
    width: 40%;
}
.container__input{
    width: 60%;
}
.container__content .content--css{
    padding: 2em 0 2em 0;
}


.container__input input[type="text"]{
    padding: 10px 110px 10px 10px;
    margin: 17px 0;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 2.89754px rgba(0, 0, 0, 0.35);    
    border-radius: 4px;
    border: 1px solid #c4c4c4;
}

.container__input input[type="text"]:hover,
.container__input input[type="text"]:focus,
.container__input .input--hover:hover
{
    border: 1px solid #348D7C;
}

::placeholder{
    /* color: #000; */
    font-size: 1em;
    font-family: Roboto-Italic;
}
.input__input1 .input1__click{
    background: linear-gradient(180deg, #25BFA2 0%, #348D7C 100%);
    font-size: 1em;
    font-weight: 900;
    color:#fff;
    padding: 11px;
    border-radius: 4px;
    border: 1px solid #348D7C;
    cursor: pointer;
    position: relative;
    right: 42px;
    top:-1px;
}
.input__input1 .input1__click:hover{
    background-color: #24423d;
}
.input__input2 .input2__ngay,
.input__input2 .input2__thang,
.input__input2 .input2__nam
{
    margin:15px 0; 
    margin-right: 40px;
    padding: 10px 5px 10px 10px;
    box-shadow: inset 0px 0px 2.89754px rgba(0, 0, 0, 0.35);    
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    text-align: center;
}

/*css table*/
.section__tables{
    /* margin-left: 20px; */
     width: 50%;
}
.section__tables .tables__table{
    border-collapse: collapse;
    letter-spacing: 1px;
}
.section__tables .tables__heading{
    padding: 1em 0 1em 0;
}
.tables__table .table__STT{
    text-align: right;
    padding-left: 35px;
}
.tables__table th, td{
    font-size: 1.6em;
    padding: 0.5em 0.5em;
    text-align: center;
}
.tables__table th{
    background: linear-gradient(180deg, #25BFA2 0%, #348D7C 100%);
    color: #fff;
    
}
.tables__table td{
    border-bottom: 1px solid #C4C4C4;
}
.tables__table input[type="checkbox"]{
    cursor: pointer;
} 
.table__click{
    padding-top: 4em;
}
.table__click .Click__success{
    background: linear-gradient(180deg, #25BFA2 0%, #348D7C 100%);
    font-size: 2em;
    font-family: Roboto-Bold;
    color:#fff;
    padding: 11px;
    border-radius: 4px;
    border: 1px solid #348D7C;
    cursor: pointer;
    float: right;
}
@media only screen and (max-width: 900px) {
    .section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;  
        display: flex;
        justify-content: center;
        flex-direction: column;
    } 
    .section__container{
        width: 100%;
        display: flex;
        justify-content: space-around   ;
    
    }
    .section__tables{
        width: 100%;
    }
}